*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.gs{
    border: none;
    border-radius: 20px;
    background-color: hsl(12, 88%, 59%);
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 23px;
}

.menu{
    color: hsl(228, 39%, 23%);
    display: flex;
    /* flex-direction: row; */
    gap: 20px;
    font-size: 16px;
    /* padding: 20px; */
}

.navb{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.navb img{
    /* height: auto; */
    /* width: auto; */
}